body{
    font-family: Helvetica;
}

#main_content{
    width: 900px;
    margin: 0 auto;}

#main_content textarea{
    width: 200px;
    height: 80px;
    margin-top: 10px;
}

#tbl {
    width:800px;
    border:1px solid #98bf21;
    margin-top:50px;
}

#tbl tr:nth-child(odd) {
    background: #EAF2D3
}

#tbl td{
    border:1px solid #98bf21
}

#tbl th
{
    background: #A7C942;
    border:1px solid #98bf21
}