/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2014, 7:34:57 PM
    Author     : Ricardo Cerón
*/

#top_bar{
    width: 100%;
    height: 38px;
    background-color: #373C2F;
}

#nav_menu{
    width: 900px;
    height: 38px;
    line-height: 38px;    
    margin: 0 auto;
}

#nav_menu a{
    color: #fff;
    font-family: Helvetica;
    font-size: 12px;
    text-decoration: none;
    float: left;
    height: 20px;

    -webkit-transition: color 0.5s;
    -moz-transition:    color 0.5s;
    -ms-transition:     color 0.5s;
    -o-transition:      color 0.5s;
    transition:         color 0.5s;
}

#nav_menu a:hover{
    color: rgb(215, 216, 213);    
}

.linea{
    width: 1px;
    height: 20px;
    background-color: #666;
    float: left;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 9px;
}

#slider{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    height: 570px;    
}


#mascara{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    height: 570px;
    position: absolute;
}

#main_content{
    width: 900px;
    height: auto;
    margin: 0 auto;
}

#logo{
    margin-top: 20px;
}

#tittle{
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 840px;
    padding: 15px 30px 10px;

    color: rgb(219, 221, 213);

    font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
}

#content{
    background-color: #fff;
    width: 880px;
    padding: 10px;
    height: auto;
    min-height: 500px;
}

#next_slider{
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #373C2F;
    cursor: pointer;
    top: 200px;
    position: absolute;
}

#prev_slider{
    float: left;
    width: 50px;
    height: 50px;
    background-color: #373C2F;
    cursor: pointer;
    margin-top: 200px;
}

#bottom{    
    width: 870px;
    
    margin: 0 auto;
    margin-top: 40px;

    font-family: 'Helvetica', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;    
    line-height: 1.50;
    color: #555555;
    
    padding-left: 30px;
    padding-bottom: 30px;
        
}

#bottom span{
    font-weight: bold;  
    font-size: 14px;
}

#bottom_line1{
    
    clear: both;
    
    background-color: rgb(174,176,169);
    height: 1px;
    width: 900px;
    
    margin-top: 30px;
    margin-bottom: 50px;
}

