/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2014, 7:35:04 PM
    Author     : Ricardo Cerón
*/


body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(219, 221, 213);
}
